{% extends 'base.html' %}

{% block content %}
{% load static %}
<h2>My Gardens</h2>

<div class="row">
  {% for garden in gardens %}
  <div class="col-md-3 p-2 d-flex align-items-stretch">
    <!-- Add Garden -->
    <a href="{% url 'garden_create' request.user.username %}" class="w-100">
        {% if garden.image.url != None %}
        <div class="bg-image bg-primary card shadow w-100 ratio ratio-16x9" style="background-image: url('{{garden.image.url}}'); background-repeat: no-repeat; background-position: center; background-size: contain;">
        {% else %}
        <div class="bg-primary card shadow w-100 ratio ratio-16x9">
        {% endif %}
        <div class="card-body text-white">
          <h3 class="card-title"><span class="bg-dark px-2 rounded" style="--bs-bg-opacity: .8;">{{garden.name}}</span></h3>

          <p class="card-text">
          </p>
        </div>
      </div>
    </a>
    <!-- End of Add Garden -->
  </div>
  {% endfor %}

  <div class="col-md-3 p-2 d-flex align-items-stretch">
    <!-- Add Garden -->
    <a href="{% url 'garden_create' request.user.username %}" class="w-100">
      <div class="bg-image bg-primary card shadow w-100 ratio ratio-16x9" style="background-image: url('/static/images/add.png'); background-repeat: no-repeat; background-position: center; background-size: contain;">
        <div class="card-body text-white">
          <h3 class="card-title"><span class="bg-dark px-2 rounded" style="--bs-bg-opacity: .8;">Add Garden</span></h3>
          <p class="card-text">
          </p>
        </div>
      </div>
    </a>
    <!-- End of Add Garden -->
  </div>
</div>


{% endblock %}