{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}
{% load static %}
{% if plant.id != None %}
<h1>Edit Plant</h1>
{% else %}
<h1>Create Plant</h1>
{% endif %}

<div class="card">
  <div class="card-body">
    <form method="post" id="user_post_edit_form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
      {% endfor %}

      {% for field in form.visible_fields %}
      <p>
        {% if field.name == 'category' %}
        <!-- Start of Add Button -->
      <div class="d-flex">
        <div class="ms-auto">
          <a href="{% url 'plant_category_create' request.user.username %}" class="btn btn-primary shadow-sm ms-auto">
            Create Plant Category
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill d-inline-block mb-1" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
            </svg>
          </a>
        </div>
      </div>
      <!-- End of Add Button -->
      {% endif %}
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
      {{ field.help_text }}
      </p>
      {% endfor %}
      </table>

      <!-- Start of Submit buttons -->
      <div class="d-flex">
        {% if plant.id != None %}
        <div class="">
          <button type="button" class="btn btn-danger shadow-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <span>
              <i class="bi bi-trash text-white"></i>
            </span>
            Delete
          </button>
        </div>
        {% endif %}
        <div class="ms-auto">
          <a href="{% url 'home' %}" class="btn btn-secondary shadow-sm">Cancel</a>
          {% if plant.id != None %}
          <input href="{% url 'plant_update' plant.user.username plant.id %}" type="submit" class="btn btn-primary shadow-sm" value="Save" />
          {% else %}
          <input href="{% url 'plant_create' request.user.username %}" type="submit" class="btn btn-primary shadow-sm" value="Save" />
          {% endif %}
        </div>
      </div>
      <!-- End of Submit buttons -->

    </form>
  </div>
</div>

{% if plant.id != None %}
<!-- Start of modal-->
<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete plant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to <b class="text-danger">delete</b> this plant?</p>
        <p><b>{{plant.variety}}</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-danger" form="user_post_edit_form" formaction="delete/" value="Delete" />
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}