{% extends 'base.html' %}

{% block header %}
<script>
  function create_plant_note(e) {
    const form = document.getElementById('note_form');
    // Set the form values to the default values
    form.action = e.dataset.url;

    if (e.dataset.text == 'None') {
      form.querySelector('#id_text').value = '';
    } else {
      form.querySelector('#id_text').value = e.dataset.text;
    }

    form.querySelector('#id_date').value = e.dataset.date;

    // Disable to delete button
    const form_delete_button = document.getElementById('form_delete_button');
    form_delete_button.style.display = 'None';
    form_delete_button.removeAttribute('formaction');

  }

  function edit_plant_note(e) {
    const form = document.getElementById('note_form');
    const note_id = e.dataset.note_id;
    const note_text_element = document.getElementById('note_text_' + note_id);
    const note_date_element = document.getElementById('note_date_' + note_id);

    // Set the form values to the notes values
    form.action = e.dataset.url;
    form.querySelector('#id_text').value = note_text_element.innerText;
    form.querySelector('#id_date').value = note_date_element.dataset.date;

    // Enable to delete button
    const form_delete_button = document.getElementById('form_delete_button');
    form_delete_button.style.display = 'Block';
    form_delete_button.setAttribute('formaction', e.dataset.delete_url);
  }
</script>
{% endblock %}


{% block content %}
{% load static %}
<h1>Plant Info</h1>
<!-- Plant card -->
<div class="card shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-md-4">
        {% if plant.image %}
        <img src="{{ plant.image.url }}" class="img-thumbnail" style="max-width: 12.5rem; max-height: 12.5rem;">
        {% else %}
        <img src="{% static 'images/sprout.png' %}" class="img-thumbnail" style="max-width: 12.5rem; max-height: 12.5rem;">
        {% endif %}
      </div>
      <!-- Start of Submit buttons -->
      <div class="col-6 col-md-4">
        <table>
          <tr class="p-1">
            <td class="px-1">
              <h2>
                Name:
              </h2>
            </td>
            <td class="px-1">
              <h2>
                {{ plant.variety }}
              </h2>
            </td>
          </tr>
          <tr class="p-1">
            <td class="px-1">
              <h5>Category:</h5>
            </td>
            <td class="px-1">
              {% if plant.category.name is not None %}
              <h5>
                {{ plant.category.name }}
              </h5>
              {% else %}
              <h5>---</h5>
              {% endif %}
              <h5>
            </td>
          </tr>
          <tr class="p-1">
            <td class="px-1">
              <h5>Rating:</h5>
            </td>
            <td class="px-1">
              <h5>
                {{ plant.rating }}
              </h5>
            </td>
          </tr>
        </table>
      </div>
      <!-- End of Submit buttons -->
      <div class=" col-12 col-md-4">
        <a href="{% url 'plant_update' request.user.username plant.id %}" class="btn btn-warning shadow-sm">Edit Plant</a>
      </div>
    </div>
  </div>
</div>
<!-- End of Plant card -->
<!-- Log / History card -->
<div class="card shadow mb-2">
  <div class="card-body">
    <h2 class="card-title">History</h2>
    {% for year in years %}
    <h2 class="text-info">
      {{ year }}
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Garden</th>
          <th scope="col">Section</th>
          <th scope="col">Date</th>
          <th scope="col">Count</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        {% if log.date.year == year %}
        <tr>
          <td>
            {{ log.garden_section.garden.name }}
          </td>
          <td>
            {{ log.garden_section.name }}
          </td>
          <td>
            {{ log.date }}
          </td>
          <td>
            {{ log.count }}
          </td>
          <td>
            <!-- Edit button here -->
            <a href="{% url 'plant_log_update' request.user.username log.garden_section.garden.id log.garden_section.id log.id %}" class="btn btn-warning shadow-sm">Edit</a>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
<!-- End of Log / History card -->

<!-- Note card -->
<div class="card shadow mb-2">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-6">
        <h2 class="card-title">Notes</h2>
      </div>
      <div class="col-6">
        <!-- Start of Add Button -->
        <div class="d-flex">
          <div class="ms-auto">
            <button type="button" class="btn btn-primary shadow-sm ms-auto" data-bs-toggle="modal" data-bs-target="#note_modal" onclick="create_plant_note(this)" data-url="{% url 'note_create' request.user.username plant.id %}" data-date='{{ note_form.date.value|date:"Y-m-d"  }}' data-text='{{ note_form.text.value }}'>
              Create Note
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill d-inline-block mb-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
              </svg>
            </button>
          </div>
        </div>
        <!-- End of Add Button -->
      </div>
    </div>
    <!-- List of Notes -->
    {% for note in notes %}
    <div class="">
      <div class="card">
        <div class="card-header">
          <!-- Start of Add Button -->
          <div class="d-flex">
            <h4 class="text-info" id="note_date_{{ note.id }}" data-date='{{ note.date|date:"Y-m-d"  }}'>
              {{ note.date }}
            </h4>
            <div class="ms-auto">
              <button type="button" class="btn btn-warning shadow-sm ms-auto" data-bs-toggle="modal" data-bs-target="#note_modal" onclick="edit_plant_note(this)"
               data-note_id="{{ note.id }}" data-url="{% url 'note_update' request.user.username plant.id note.id%}" data-delete_url="{% url 'note_delete' request.user.username plant.id note.id%}">
                Edit Note
              </button>
            </div>
          </div>
          <!-- End of Add Button -->

        </div>
        <div class="card-body">
          <p class="card-text" id="note_text_{{ note.id }}">
            {{ note.text }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- End of List of Notes -->
  </div>
</div>
<!-- End of Note card -->

<!-- Modal to display note form -->
<div class="modal fade" id="note_modal" tabindex="-1" aria-labelledby="note_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="note_modalLabel">Create Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="note_form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ note_form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex">
          <div class="">
            <input type="submit" class="btn btn-danger" id="form_delete_button" form="note_form" value="Delete" />
          </div>
        </div>
        <div class="ms-auto">
          <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary shadow-sm" form="note_form" value="Save" />  
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal to display note form-->
{% endblock %}