{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}
{% load static %}
<h1>Plant Info</h1>
<!-- Plant card -->
<div class="card shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-md-4">
        {% if plant.image %}
        <img src="{{ plant.image.url }}" class="img-thumbnail" style="max-width: 12.5rem; max-height: 12.5rem;">
        {% else %}
        <img src="{% static 'images/sprout.png' %}" class="img-thumbnail" style="max-width: 12.5rem; max-height: 12.5rem;">
        {% endif %}
      </div>
      <!-- Start of Submit buttons -->
      <div class="col-6 col-md-4">
        <table>
          <tr class="p-1">
            <td class="px-1">
              <h2>
                Name:
              </h2>
            </td>
            <td class="px-1">
                <h2>
                {{ plant.name }}
              </h2>
            </td>
          </tr>
          <tr class="p-1">
            <td class="px-1">
                <h5>Category:</h5>
            </td>
            <td class="px-1">
                {% if plant.category.name is not None %}
              <h5>
                {{ plant.category.name }}
              </h5>
              {% else %}
              <h5>---</h5>
              {% endif %}
              <h5>
            </td>
          </tr>
          <tr class="p-1">
            <td class="px-1">
                <h5>Rating:</h5>
            </td>
            <td class="px-1">
                <h5>
                {{ plant.rating }}
              </h5>
            </td>
          </tr>
        </table>
      </div>
      <!-- End of Submit buttons -->
      <div class=" col-12 col-md-4">
        <a href="{% url 'plant_update' request.user.username plant.id %}" class="btn btn-warning shadow-sm">Edit</a>
      </div>
    </div>
  </div>
</div>
<!-- End of Plant card -->
<!-- Log / History card -->
<div class="card shadow mb-2">
  <div class="card-body">
    <h2 class="card-title">History</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Garden</th>
          <th scope="col">Section</th>
          <th scope="col">Date</th>
          <th scope="col">Count</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <td>
            {{ log.garden_section.garden.name }}
          </td>
          <td>
            {{ log.garden_section.name }}
          </td>
          <td>
            {{ log.date }}
          </td>
          <td>
            {{ log.count }}
          </td>
          <td>
            <!-- Edit button here -->
            <a href="{% url 'plant_log_update' request.user.username log.garden_section.garden.id log.garden_section.id log.id %}" class="btn btn-warning shadow-sm">Edit</a>

          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<!-- End of Log / History card -->
{% endblock %}