<nav class="container-xxl navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand py-1 text-light fw-bold" href="{% url 'home' %}">Greener Gardens</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapsable" aria-controls="navbarCollapsable" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapsable">
      <ul class="navbar-nav navbar-left me-auto mb-2 mb-sm-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link bd-navbar-link text-light" href="{% url 'home' %}">My Gardens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bd-navbar-link text-light" href="{% url 'garden_list' request.user.username %}">Manage Gardens</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link bd-navbar-link text-light" href="{% url 'plant_create' request.user.username %}">Create Plant</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link bd-navbar-link text-light" href="{% url 'plant_list' request.user.username %}">Manage Plants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bd-navbar-link text-light" href="{% url 'plant_category_list' request.user.username %}">Manage Plant Categories</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav navbar-right ms-auto mb-2 mb-sm-0">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link btn bd-btn-secondary text-light" href="{% url 'users:login' %}">Login / Register</a>
        </li>
        {% else %}
        <li class="nav-item">
          <div class="btn-group">
            <button type="button" class="dropdown-toggle btn bd-btn-secondary text-light" data-bs-toggle="dropdown" data-bs-target="#dropdown-profile" aria-expanded="false">
              Hello,
              {{ user.username }}
            </button>
            <ul class="dropdown-menu" id="dropdown-profile">
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
            </ul>  
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>