{% extends 'base.html' %}

{% block header %}
<script>
  function create_garden_section(e) {
    const form = document.getElementById('garden_section_form');
    // Set the form values to the default values
    form.action = e.dataset.url;

    if (e.dataset.name == 'None') {
      form.querySelector('#id_name').value = '';
    } else {
      form.querySelector('#id_name').value = e.dataset.name;
    }

    // Disable to delete button
    const form_delete_button = document.getElementById('form_delete_button');
    form_delete_button.style.display = 'None';
    form_delete_button.removeAttribute('formaction');
  }

  function edit_garden_section(e) {
    const form = document.getElementById('garden_section_form');
    const garden_section_id = e.dataset.garden_section_id;
    const garden_section_name_element = document.getElementById('section_name_' + garden_section_id);

    // Set the form values to the notes values
    form.action = e.dataset.url;
    form.querySelector('#id_name').value = garden_section_name_element.innerText;

    // Enable to delete button
    const form_delete_button = document.getElementById('form_delete_button');
    form_delete_button.style.display = 'Block';
    form_delete_button.setAttribute('formaction', e.dataset.delete_url);
  }

  function create_plant_log(e) {
    const form = document.getElementById('plant_log_form');
    const garden_section_id = e.dataset.garden_section_id;
    form.querySelector('#id_garden_section').value = garden_section_id;

    // Change the header
    const garden_section_name_element = document.getElementById('section_name_' + garden_section_id);
    const plant_modal_header = document.getElementById('plant_modal_header_section_name');
    plant_modal_header.innerText = garden_section_name_element.innerText;

    // Set the form values to the default values
    form.action = e.dataset.url;
    if (e.dataset.plant == 'None' || !("plant" in e.dataset)) {
      form.querySelector('#id_plant').value = '';
    } else {
      form.querySelector('#id_plant').value = e.dataset.plant;
    }
    if (e.dataset.date == 'None' || !("date" in e.dataset)) {
      form.querySelector('#id_date').value = '';
    } else {
      form.querySelector('#id_date').value = e.dataset.date;
    }
    if (e.dataset.count == 'None' || !("count" in e.dataset)) {
      form.querySelector('#id_count').value = '';
    } else {
      form.querySelector('#id_count').value = e.dataset.count;
    }

    // Disable to delete button
    const form_delete_button = document.getElementById('log_form_delete_button');
    form_delete_button.style.display = 'None';
    form_delete_button.removeAttribute('formaction');
  }
</script>
{% endblock %}


{% block content %}
{% load static %}
{% load query_transform %}

<div class="card shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <h1 class="text-secondary">{{garden.name}}</h1>
      </div>
      <div class="col-4">
        <div class="d-flex align-items-center">
          <!-- Display Previous Year -->
          <a class="mx-2 text-info" href="?{% query_transform year=year.previous_year %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg>
          </a>
          <!-- End of Display Previous Year -->

          <!-- Display Year form -->
          <form method="get" id="select_year_form" class="flex-grow-1">
            {{ form.as_p }}
          </form>
          <!-- End of Display Year form -->

          <!-- Display Next Year -->
          <a class="mx-2 text-info" href="?{% query_transform year=year.next_year %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
            </svg>
          </a>
          <!-- End of Display Next Year -->
        </div>
      </div>
      <div class="col-4">
        <!-- Start of Submit buttons -->
        <div class="h-100 d-flex align-items-center">
          <div class="ms-auto">
            <a href="{% url 'garden_update' request.user.username garden.id %}" class="btn btn-warning shadow-sm">
              Edit Garden
            </a>
            <!-- <a href="{% url 'garden_section_create' request.user.username garden.id %}" class="btn btn-primary shadow-sm">
              Add Section
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill d-inline-block mb-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
              </svg>
            </a> -->
            <button type="button" class="btn btn-primary shadow-sm ms-auto" data-bs-toggle="modal" data-bs-target="#garden_section_modal" onclick="create_garden_section(this)" data-url="{% url 'garden_section_create' request.user.username garden.id %}" data-name='{{ garden_section_form.name.value }}'>
              Add Section
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill d-inline-block mb-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
              </svg>
            </button>
          </div>
        </div>
        <!-- End of Submit buttons -->
      </div>
    </div>
  </div>
</div>

{% for section in sections %}
<div class="card shadow mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h5 class="card-title" id="section_name_{{ section.id }}">
          {{ section.name }}
        </h5>
      </div>
      <div class="col-6">
        <!-- Start of Submit buttons -->
        <div class="h-100 d-flex align-items-center">
          <div class="ms-auto">
            <!-- <a href="{% url 'garden_section_update' request.user.username garden.id section.id %}" class="btn btn-warning shadow-sm">
              Edit Section
            </a> -->
            <!-- Start of Edit Section Button -->
            <button type="button" class="btn btn-warning shadow-sm ms-auto" data-bs-toggle="modal" data-bs-target="#garden_section_modal" onclick="edit_garden_section(this)" data-garden_section_id="{{ section.id }}" data-url="{% url 'garden_section_update' request.user.username garden.id section.id %}" data-delete_url="{% url 'garden_section_delete' request.user.username garden.id section.id %}">
              Edit Section
            </button>
            <!-- End of Edit Section Button -->
            <!-- Start of Create New Log Button -->
            <button type="button" class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#plant_log_modal" onclick="create_plant_log(this)" data-garden_section_id="{{ section.id }}" data-url="{% url 'plant_log_create' request.user.username garden.id section.id %}" data-plant='{{ plant_log_form.plant.value }}' data-date='{{ plant_log_form.date.value|date:"Y-m-d" }}' data-count='{{ plant_log_form.count.value }}'>
              Add New Log
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill d-inline-block mb-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
              </svg>
            </button>
            <!-- End of Create New Log Button -->

          </div>
        </div>
        <!-- End of Submit buttons -->
      </div>
    </div>

    <p class="card-text">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Category</th>
          <th scope="col">Name</th>
          <th scope="col">Count</th>
          <th scope="col">Info</th>
        </tr>
      </thead>
      <tbody>
        <!-- Logs are stroed in 2d array [[queryset],[queryset]] -->
        {% for log in logs %}
        {% if log.garden_section.id == section.id %}
        <tr>
          <th scope="row">
            {{ forloop.counter }}
          </th>
          <td>
            {% if log.plant.image %}
            <img src="{{ log.plant.image.url }}" class="img-thumbnail" style="max-width: 12.5rem; max-height: 12.5rem;">
            {% else %}
            <img src="{% static 'images/sprout.png' %}" class="img-thumbnail" style="max-width: 12.5rem; max-height: 12.5rem;">
            {% endif %}
          </td>
          <td>
            {% if log.plant.category is not None %}
            {{ log.plant.category.name }}
            {% endif %}
          </td>
          <td>
            {{ log.plant.variety }}
          </td>
          <td>
            {{ log.count }}
          </td>
          <td>
            <!-- Add edit button here -->
            <a href="{% url 'plant_info' request.user.username log.plant.id %}" class="btn btn-info shadow-sm">Info</a>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </p>
  </div>
</div>
{% endfor %}

<!-- Modal to display garden section form -->
<div class="modal fade" id="garden_section_modal" tabindex="-1" aria-labelledby="garden_section_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="garden_section_modalLabel">Create Garden Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="garden_section_form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ garden_section_form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex">
          <div class="">
            <input type="submit" class="btn btn-danger" id="form_delete_button" form="garden_section_form" value="Delete" />
          </div>
        </div>
        <div class="ms-auto">
          <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary shadow-sm" form="garden_section_form" value="Save" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal to garden section form-->
<!-- Modal to create a new log -->
<div class="modal fade" id="plant_log_modal" tabindex="-1" aria-labelledby="plant_log_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="plant_log_modalLabel">Create Log - <span id="plant_modal_header_section_name">???</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Start of Add Button -->
        <div class="d-flex">
          <div class="ms-auto">
            <a href="{% url 'plant_create' request.user.username %}" class="btn btn-primary shadow-sm ms-auto">
              Create New Plant
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill d-inline-block mb-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
              </svg>
            </a>
          </div>
        </div>
        <!-- End of Add Button -->

        <form method="post" id="plant_log_form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ plant_log_form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex">
          <div class="">
            <input type="submit" class="btn btn-danger" id="log_form_delete_button" form="plant_log_form" value="Delete" />
          </div>
        </div>
        <div class="ms-auto">
          <button type="button" class="btn btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary shadow-sm" form="plant_log_form" value="Save" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal to create a new log -->

{% endblock %}